In [1]:
import pandas as pd

In [6]:
df=pd.read_csv("HSI_June2020.csv")

In [7]:
df.shape

(4149, 6)

In [8]:
df.tail()

                     Date     Open     High      Low    Close  Volume
4144  2020-06-25 02:35:00  24512.0  24513.0  24488.0  24502.0      48
4145  2020-06-25 02:40:00  24499.0  24508.0  24478.0  24478.0      91
4146  2020-06-25 02:45:00  24481.0  24505.0  24476.0  24494.0      57
4147  2020-06-25 02:50:00  24495.0  24499.0  24479.0  24486.0     148
4148  2020-06-25 02:55:00  24488.0  24505.0  24477.0  24477.0     232

In [9]:
df.head()

                  Date     Open     High      Low    Close  Volume
0  2020-05-26 17:15:00  23152.0  23187.0  23152.0  23176.0     337
1  2020-05-26 17:20:00  23178.0  23182.0  23157.0  23162.0     155
2  2020-05-26 17:25:00  23158.0  23166.0  23150.0  23166.0      64
3  2020-05-26 17:30:00  23168.0  23175.0  23158.0  23160.0      45
4  2020-05-26 17:35:00  23162.0  23162.0  23137.0  23144.0      64

In [10]:
df.describe()

               Open          High           Low         Close        Volume
count   4149.000000   4149.000000   4149.000000   4149.000000   4149.000000
mean   24166.197156  24184.075681  24148.502531  24166.338636    790.558448
std      667.979297    666.956791    668.821926    667.884696   1069.914105
min    22456.000000  22535.000000  22389.000000  22459.000000      4.000000
25%    23798.000000  23824.000000  23778.000000  23803.000000    137.000000
50%    24324.000000  24341.000000  24308.000000  24324.000000    346.000000
75%    24667.000000  24681.000000  24652.000000  24668.000000   1047.000000
max    25246.000000  25255.000000  25189.000000  25248.000000  11132.000000

In [18]:
df["Close"][df["Close"]>24668].shape[0]

1036

In [20]:
(df["Close"]>24668).sum()

1036

In [21]:
1036/4149

0.2496987225837551

In [13]:
df["Range"] = df["High"] - df["Low"]
df

                     Date     Open     High      Low    Close  Volume  Range
0     2020-05-26 17:15:00  23152.0  23187.0  23152.0  23176.0     337   35.0
1     2020-05-26 17:20:00  23178.0  23182.0  23157.0  23162.0     155   25.0
2     2020-05-26 17:25:00  23158.0  23166.0  23150.0  23166.0      64   16.0
3     2020-05-26 17:30:00  23168.0  23175.0  23158.0  23160.0      45   17.0
4     2020-05-26 17:35:00  23162.0  23162.0  23137.0  23144.0      64   25.0
5     2020-05-26 17:40:00  23143.0  23149.0  23124.0  23134.0     129   25.0
6     2020-05-26 17:45:00  23133.0  23144.0  23133.0  23139.0      94   11.0
7     2020-05-26 17:50:00  23141.0  23145.0  23136.0  23145.0      34    9.0
8     2020-05-26 17:55:00  23145.0  23145.0  23133.0  23144.0      24   12.0
9     2020-05-26 18:00:00  23146.0  23149.0  23138.0  23140.0      46   11.0
10    2020-05-26 18:05:00  23137.0  23138.0  23126.0  23130.0     110   12.0
11    2020-05-26 18:10:00  23132.0  23132.0  23119.0  23123.0      65   13.0
12    2020-05-26 18:15:00  23120.0  23130.0  23120.0  23121.0     139   10.0
13    2020-05-26 18:20:00  23119.0  23129.0  23116.0  23122.0     114   13.0
14    2020-05-26 18:25:00  23121.0  23129.0  23117.0  23128.0      36   12.0
15    2020-05-26 18:30:00  23128.0  23142.0  23126.0  23137.0     108   16.0
16    2020-05-26 18:35:00  23136.0  23136.0  23116.0  23121.0      47   20.0
17    2020-05-26 18:40:00  23125.0  23135.0  23124.0  23131.0      27   11.0
18    2020-05-26 18:45:00  23131.0  23140.0  23131.0  23134.0      35    9.0
19    2020-05-26 18:50:00  23134.0  23136.0  23125.0  23125.0      56   11.0
20    2020-05-26 18:55:00  23123.0  23133.0  23123.0  23130.0     208   10.0
21    2020-05-26 19:00:00  23128.0  23128.0  23103.0  23111.0      50   25.0
22    2020-05-26 19:05:00  23110.0  23113.0  23102.0  23113.0      70   11.0
23    2020-05-26 19:10:00  23119.0  23121.0  23111.0  23111.0      78   10.0
24    2020-05-26 19:15:00  23109.0  23112.0  23105.0  23111.0      11    7.0
25    2020-05-26 19:20:00  23114.0  23114.0  23104.0  23108.0      23   10.0
26    2020-05-26 19:25:00  23107.0  23111.0  23103.0  23111.0      40    8.0
27    2020-05-26 19:30:00  23105.0  23105.0  23098.0  23099.0      34    7.0
28    2020-05-26 19:35:00  23101.0  23111.0  23101.0  23109.0      40   10.0
29    2020-05-26 19:40:00  23109.0  23116.0  23108.0  23116.0      52    8.0
...                   ...      ...      ...      ...      ...     ...    ...
4119  2020-06-25 00:30:00  24453.0  24453.0  24435.0  24435.0     145   18.0
4120  2020-06-25 00:35:00  24436.0  24446.0  24436.0  24441.0     122   10.0
4121  2020-06-25 00:40:00  24441.0  24482.0  24438.0  24476.0     224   44.0
4122  2020-06-25 00:45:00  24476.0  24494.0  24475.0  24476.0     233   19.0
4123  2020-06-25 00:50:00  24476.0  24488.0  24466.0  24487.0      99   22.0
4124  2020-06-25 00:55:00  24484.0  24509.0  24482.0  24505.0     342   27.0
4125  2020-06-25 01:00:00  24504.0  24516.0  24500.0  24512.0     153   16.0
4126  2020-06-25 01:05:00  24512.0  24519.0  24486.0  24491.0     147   33.0
4127  2020-06-25 01:10:00  24494.0  24507.0  24485.0  24487.0     188   22.0
4128  2020-06-25 01:15:00  24487.0  24525.0  24487.0  24514.0     166   38.0
4129  2020-06-25 01:20:00  24512.0  24512.0  24489.0  24489.0      95   23.0
4130  2020-06-25 01:25:00  24490.0  24496.0  24464.0  24469.0     123   32.0
4131  2020-06-25 01:30:00  24468.0  24468.0  24449.0  24449.0     141   19.0
4132  2020-06-25 01:35:00  24451.0  24462.0  24447.0  24456.0      73   15.0
4133  2020-06-25 01:40:00  24460.0  24466.0  24448.0  24452.0      64   18.0
4134  2020-06-25 01:45:00  24452.0  24464.0  24441.0  24462.0     133   23.0
4135  2020-06-25 01:50:00  24462.0  24472.0  24455.0  24469.0      65   17.0
4136  2020-06-25 01:55:00  24465.0  24477.0  24462.0  24474.0     110   15.0
4137  2020-06-25 02:00:00  24477.0  24484.0  24432.0  24445.0     221   52.0
4138  2020-06-25 02:05:00  24448.0  24485.0  24448.0  24483.0      94   37.0
4139  2020-06-25 02:10:00  24482.0  24486.0  24473.0  24478.0     114   13.0
4140  2020-06-25 02:15:00  24478.0  24501.0  24477.0  24482.0     120   24.0
4141  2020-06-25 02:20:00  24484.0  24495.0  24478.0  24480.0      33   17.0
4142  2020-06-25 02:25:00  24485.0  24497.0  24478.0  24491.0      46   19.0
4143  2020-06-25 02:30:00  24492.0  24513.0  24481.0  24511.0     116   32.0
4144  2020-06-25 02:35:00  24512.0  24513.0  24488.0  24502.0      48   25.0
4145  2020-06-25 02:40:00  24499.0  24508.0  24478.0  24478.0      91   30.0
4146  2020-06-25 02:45:00  24481.0  24505.0  24476.0  24494.0      57   29.0
4147  2020-06-25 02:50:00  24495.0  24499.0  24479.0  24486.0     148   20.0
4148  2020-06-25 02:55:00  24488.0  24505.0  24477.0  24477.0     232   28.0

[4149 rows x 7 columns]

In [14]:
df["Range"].describe()

count    4149.000000
mean       35.573150
std        25.742377
min         2.000000
25%        19.000000
50%        29.000000
75%        44.000000
max       312.000000
Name: Range, dtype: float64

In [22]:
df.Date

0       2020-05-26 17:15:00
1       2020-05-26 17:20:00
2       2020-05-26 17:25:00
3       2020-05-26 17:30:00
4       2020-05-26 17:35:00
5       2020-05-26 17:40:00
6       2020-05-26 17:45:00
7       2020-05-26 17:50:00
8       2020-05-26 17:55:00
9       2020-05-26 18:00:00
10      2020-05-26 18:05:00
11      2020-05-26 18:10:00
12      2020-05-26 18:15:00
13      2020-05-26 18:20:00
14      2020-05-26 18:25:00
15      2020-05-26 18:30:00
16      2020-05-26 18:35:00
17      2020-05-26 18:40:00
18      2020-05-26 18:45:00
19      2020-05-26 18:50:00
20      2020-05-26 18:55:00
21      2020-05-26 19:00:00
22      2020-05-26 19:05:00
23      2020-05-26 19:10:00
24      2020-05-26 19:15:00
25      2020-05-26 19:20:00
26      2020-05-26 19:25:00
27      2020-05-26 19:30:00
28      2020-05-26 19:35:00
29      2020-05-26 19:40:00
               ...
4119    2020-06-25 00:30:00
4120    2020-06-25 00:35:00
4121    2020-06-25 00:40:00
4122    2020-06-25 00:45:00
4123    2020-06-25 00:50:00
4124    2020-06-25 00:55:00
4125    2020-06-25 01:00:00
4126    2020-06-25 01:05:00
4127    2020-06-25 01:10:00
4128    2020-06-25 01:15:00
4129    2020-06-25 01:20:00
4130    2020-06-25 01:25:00
4131    2020-06-25 01:30:00
4132    2020-06-25 01:35:00
4133    2020-06-25 01:40:00
4134    2020-06-25 01:45:00
4135    2020-06-25 01:50:00
4136    2020-06-25 01:55:00
4137    2020-06-25 02:00:00
4138    2020-06-25 02:05:00
4139    2020-06-25 02:10:00
4140    2020-06-25 02:15:00
4141    2020-06-25 02:20:00
4142    2020-06-25 02:25:00
4143    2020-06-25 02:30:00
4144    2020-06-25 02:35:00
4145    2020-06-25 02:40:00
4146    2020-06-25 02:45:00
4147    2020-06-25 02:50:00
4148    2020-06-25 02:55:00
Name: Date, Length: 4149, dtype: object

In [28]:
df["Date"][df["Range"].max()] #wrong

'2020-05-28 09:30:00'

In [24]:
df[df["Range"]==df["Range"].max()]

                    Date     Open     High      Low    Close  Volume  Range
693  2020-06-01 09:15:00  23167.0  23478.0  23166.0  23398.0    7868  312.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4149 entries, 0 to 4148
Data columns (total 7 columns):
Date      4149 non-null object
Open      4149 non-null float64
High      4149 non-null float64
Low       4149 non-null float64
Close     4149 non-null float64
Volume    4149 non-null int64
Range     4149 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 227.0+ KB

In [34]:
df[(df["Close"]>24668) & (df["Range"]>100)].shape # use () 
# & for and , | for or

(16, 7)

In [32]:
df[(df["Close"]>24668) | (df["Range"]>100)]

                     Date     Open     High      Low    Close  Volume  Range
117   2020-05-27 09:15:00  23200.0  23300.0  23156.0  23269.0    2501  144.0
124   2020-05-27 09:50:00  23196.0  23196.0  23084.0  23089.0    2925  112.0
269   2020-05-27 23:40:00  22883.0  22886.0  22755.0  22755.0    1064  131.0
270   2020-05-27 23:45:00  22757.0  22863.0  22746.0  22860.0     893  117.0
309   2020-05-28 09:15:00  22930.0  22960.0  22855.0  22937.0    4419  105.0
312   2020-05-28 09:30:00  22973.0  23186.0  22956.0  23177.0    7346  230.0
313   2020-05-28 09:35:00  23179.0  23238.0  23098.0  23098.0    6332  140.0
317   2020-05-28 09:55:00  23118.0  23128.0  23005.0  23013.0    4287  123.0
342   2020-05-28 13:00:00  22642.0  22652.0  22534.0  22645.0    5564  118.0
344   2020-05-28 13:10:00  22661.0  22760.0  22640.0  22758.0    3298  120.0
347   2020-05-28 13:25:00  22748.0  22856.0  22739.0  22855.0    3526  117.0
348   2020-05-28 13:30:00  22856.0  22868.0  22763.0  22779.0    2875  105.0
355   2020-05-28 14:05:00  22849.0  22969.0  22836.0  22955.0    3779  133.0
357   2020-05-28 14:15:00  22997.0  23103.0  22995.0  23057.0    4907  108.0
368   2020-05-28 15:10:00  22814.0  22875.0  22772.0  22875.0    2807  103.0
370   2020-05-28 15:20:00  22864.0  22950.0  22840.0  22950.0    1874  110.0
501   2020-05-29 09:15:00  22677.0  22677.0  22389.0  22459.0    6375  288.0
504   2020-05-29 09:30:00  22577.0  22693.0  22557.0  22621.0    7463  136.0
505   2020-05-29 09:35:00  22620.0  22710.0  22570.0  22653.0    6558  140.0
506   2020-05-29 09:40:00  22652.0  22756.0  22633.0  22719.0    5406  123.0
507   2020-05-29 09:45:00  22720.0  22829.0  22714.0  22781.0    4997  115.0
552   2020-05-29 14:30:00  22747.0  22748.0  22630.0  22662.0    4123  118.0
572   2020-05-29 16:10:00  22700.0  22807.0  22694.0  22806.0    2846  113.0
668   2020-05-30 00:55:00  22628.0  22798.0  22617.0  22758.0     876  181.0
682   2020-05-30 02:05:00  22678.0  22826.0  22675.0  22822.0     734  151.0
691   2020-05-30 02:50:00  22730.0  22810.0  22629.0  22700.0     579  181.0
692   2020-05-30 02:55:00  22703.0  22898.0  22672.0  22897.0     480  226.0
693   2020-06-01 09:15:00  23167.0  23478.0  23166.0  23398.0    7868  312.0
694   2020-06-01 09:20:00  23399.0  23527.0  23372.0  23475.0    4406  155.0
696   2020-06-01 09:30:00  23487.0  23570.0  23427.0  23452.0    8529  143.0
...                   ...      ...      ...      ...      ...     ...    ...
4057  2020-06-24 19:20:00  24705.0  24709.0  24692.0  24694.0     130   17.0
4058  2020-06-24 19:25:00  24695.0  24695.0  24681.0  24689.0     116   14.0
4059  2020-06-24 19:30:00  24690.0  24690.0  24673.0  24678.0      61   17.0
4060  2020-06-24 19:35:00  24679.0  24686.0  24676.0  24682.0      47   10.0
4061  2020-06-24 19:40:00  24683.0  24690.0  24682.0  24689.0      75    8.0
4062  2020-06-24 19:45:00  24692.0  24696.0  24686.0  24696.0      93   10.0
4063  2020-06-24 19:50:00  24696.0  24704.0  24693.0  24693.0      63   11.0
4064  2020-06-24 19:55:00  24694.0  24694.0  24676.0  24678.0      52   18.0
4065  2020-06-24 20:00:00  24676.0  24683.0  24667.0  24680.0     106   16.0
4066  2020-06-24 20:05:00  24679.0  24679.0  24669.0  24670.0      96   10.0
4067  2020-06-24 20:10:00  24669.0  24687.0  24665.0  24684.0     128   22.0
4068  2020-06-24 20:15:00  24684.0  24697.0  24680.0  24690.0     124   17.0
4069  2020-06-24 20:20:00  24691.0  24696.0  24688.0  24692.0      73    8.0
4070  2020-06-24 20:25:00  24692.0  24712.0  24685.0  24701.0     170   27.0
4071  2020-06-24 20:30:00  24700.0  24701.0  24688.0  24693.0     111   13.0
4072  2020-06-24 20:35:00  24695.0  24699.0  24674.0  24684.0     124   25.0
4073  2020-06-24 20:40:00  24681.0  24685.0  24678.0  24684.0      55    7.0
4074  2020-06-24 20:45:00  24684.0  24697.0  24682.0  24695.0      78   15.0
4075  2020-06-24 20:50:00  24697.0  24720.0  24697.0  24716.0     263   23.0
4076  2020-06-24 20:55:00  24716.0  24726.0  24713.0  24719.0     140   13.0
4077  2020-06-24 21:00:00  24718.0  24741.0  24711.0  24739.0     280   30.0
4078  2020-06-24 21:05:00  24740.0  24742.0  24728.0  24729.0     136   14.0
4079  2020-06-24 21:10:00  24728.0  24730.0  24711.0  24714.0     147   19.0
4080  2020-06-24 21:15:00  24714.0  24719.0  24677.0  24681.0     272   42.0
4081  2020-06-24 21:20:00  24684.0  24698.0  24683.0  24688.0     180   15.0
4082  2020-06-24 21:25:00  24690.0  24699.0  24685.0  24696.0     139   14.0
4083  2020-06-24 21:30:00  24695.0  24722.0  24686.0  24689.0     490   36.0
4084  2020-06-24 21:35:00  24690.0  24738.0  24690.0  24729.0     258   48.0
4085  2020-06-24 21:40:00  24732.0  24749.0  24723.0  24738.0     305   26.0
4086  2020-06-24 21:45:00  24736.0  24740.0  24698.0  24701.0     356   42.0

[1126 rows x 7 columns]

In [33]:
df["Close"]>24668 & df["Range"]>100

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]